<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <uses-feature android:name="android.hardware.faketouch" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application android:label="@string/english_ime_name"
            android:allowBackup="true"
            android:backupAgent="LatinIMEBackupAgent"
            android:restoreAnyVersion="true"
            android:hardwareAccelerated="true"
            android:killAfterRestore="false"
            android:theme="@style/Theme.HackerKeyboard"
            android:icon="@mipmap/ic_launcher">

        <service android:name="LatinIME"
                android:label="@string/english_ime_name"
                android:permission="android.permission.BIND_INPUT_METHOD"
                android:theme="@style/Theme.HackerKeyboard.Service"
                android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>

        <activity android:name="MaterialSettingsActivity"
                android:label="Modern Settings"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="org.pocketworkstation.pckeyboard.MATERIAL_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="MaterialMainActivity"
                android:label="@string/english_ime_name"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
</application>
</manifest>
